<!-- app/views/application_mailer/new_application.html.erb -->
<h1>New Caregiver Application</h1>
<p><strong>Name:</strong> <%= @application_params[:name] %></p>
<p><strong>Email:</strong> <%= @application_params[:email] %></p>
<p><strong>Phone:</strong> <%= @application_params[:phone] %></p>
