.caregiver-show {
  .card-title {
    font-size: 2rem;
    color: #0056b3;
  }

  .list-unstyled span.fw-bold {
    color: #343a40;
  }

  .btn-outline-primary {
    border-radius: 20px;

    &:hover {
      background-color: #0056b3;
      color: white;
    }
  }

  .btn-primary {
    border-radius: 20px;
  }
}
