.table {
  th {
    background-color: #0056b3; // Azul principal
    color: white;
    font-weight: bold;
    text-align: center;
  }

  td {
    text-align: center;
  }
}

.btn-outline-primary {
  color: #0056b3;
  border-color: #0056b3;

  &:hover {
    background-color: #0056b3;
    color: white;
  }
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;

  &:hover {
    background-color: #dc3545;
    color: white;
  }
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;

  &:hover {
    background-color: #6c757d;
    color: white;
  }
}

.card {
  border: 1px solid #0056b3;
  border-radius: 10px;

  .card-header {
    background-color: #0056b3;
    color: white;
    font-weight: bold;
  }
}
