<div class="about-us-section">
  <h1>About Us</h1>
  <div class="row">
    <div class="col-md-4">
      <h2>Mission</h2>
      <p>Our mission is to support and transform lives.</p>
    </div>
    <div class="col-md-4">
      <h2>Vision</h2>
      <p>To be a reference in care and support for people.</p>
    </div>
    <div class="col-md-4">
      <h2>Values</h2>
      <p>Commitment, empathy, and excellence.</p>
    </div>
  </div>
  <div class="gallery">
    <h2>Gallery</h2>
    <div class="row">
      <div class="col-md-4">
        <img src="path/to/image1.jpg" alt="Caregiver in action 1" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="path/to/image2.jpg" alt="Caregiver in action 2" class="img-fluid">
      </div>
      <div class="col-md-4">
        <img src="path/to/image3.jpg" alt="Caregiver in action 3" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="links">
    <a href="/" class="btn btn-primary">Home</a>
    <a href="/work-with-us" class="btn btn-secondary">Work With Us</a>
    <a href="/contact" class="btn btn-success">Contact</a>
  </div>
</div>
