// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Estilos globais e componentes compartilhados
//@import "shared/navbar_footer"; // Estilos compartilhados da Navbar e Footer

// Estilos específicos de páginas
@import "pages/dashboard";
@import "pages/home";
@import "pages/custom";
@import "pages/contact";
@import "pages/dashboard";

//@import "pages/work_with_us";
//@import "pages/request_support";
//@import "pages/support";
//@import "pages/caregiver";

.teste-class {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.container {
  margin-top: 20px;

  h1 {
    font-size: 2.5rem;
    color: #0056b3;
  }

  .card {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;

    .card-header {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .table {
      font-size: 0.9rem;

      th {
        font-weight: bold;
      }

      tr:hover {
        background-color: #f0f8ff;
      }
    }

    .btn {
      border-radius: 20px;
      transition: all 0.3s;

      &:hover {
        color: white;
      }

      &-outline-primary:hover {
        background-color: #0056b3;
      }

      &-outline-danger:hover {
        background-color: #dc3545;
      }
      .match {
        color: green;
      }

      .no-match {
        color: red;
      }
    }
  }
}
